#secondary {
	padding: 3rem 0 0 3rem;
	text-align: left;
	max-width: 28%;

	h3 {
		font-size: 1.5rem;
		font-weight: bold;
		letter-spacing: 2px;
	    text-transform: uppercase;
	}
	
	p a {
		color:$color__green-brand;
	}
	
	.social-media {
		display: none;
	}

	p span {
		font-weight: bold;
	}

	#archives-2 ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		a {
			color: $color__green-brand;
		}
		
	}
}