// Structure

$max__width: 1120px; 
$base__space-unit: 1.5rem;

// Colors

$color__background-body: #fff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

$color__solid-border: #e1e1e1;
$color__dashed-border: #c8c8c8;

$color__green-brand: #248A83;
$color__dark-green-brand: 
$color__purple-brand: #2f1339;
$color__orange-brand: #d99054;
$color__yellow-brand: #f0e4d1;
$color__light-grey-brand: #a1a1a1;
$color__medium-grey-brand: #808080;  
$color__text-shadow: #323232;


// Typography

$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;


/* $font__main-bold: 'MerriweatherBold';
$font__main-bold-italic: 'MerriweatherBoldItalic'; */
$font__main: 'Merriweather', serif;
/* $font__main-light-italic: 'MerriweatherLightItalic'; */
$font__accent: 'Novecentosanswide', sans-serif;
/* $font__accent-demibold: 'NovecentosanswideDemiBold'; */

